<!DOCTYPE html>
<html lang="ru">

{% load static %}
{% load custom_tags %}

{% get_all_category as categories %}

<head>
    <meta charset="utf-8">

    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MMORPG board</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

</head>

<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'posts:index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'posts:index' %}">Главная</a></li>
                            <li><a href="#">Категории<span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    {% for category in categories %}
                                        <li><a href="?category={{ category.id }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            {% if not user.is_authenticated %}
                                <li class="active"><a href="{% url 'user:login' %}">Вход</a></li>
                            {% else %}
                                <li><a href="#"><span class="icon_profile"></span></a>
                                    <ul class="dropdown">
                                        <li style="text-align: center" class="active">
                                            <strong>{{ user.username }}</strong>
                                        </li>
                                        <li><a href="{% url 'posts:post_create' %}">
                                            <span class="icon_plus"></span>Добавить</a>
                                        </li>
                                        <li><a href="{% url 'user:profile' %}">Личный кабинет</a></li>
                                        <br>
                                        <li><a href="{% url 'user:logout' %}">Выход</a></li>
                                    </ul>
                                </li>
                            {% endif %}


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="header__bottom">
            <form role="search" action="#" method="get">
                <input type="search" name="q" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success text-white" type="submit">
                    <span class="icon_search">
                </button>
            </form>
        </div>

    </div>

</header>
<!-- Header End -->

{% block content %}
{% endblock content %}



<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>